* {
    box-sizing: border-box;
  }
  
  body {
    /* height: 100vh; */
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  section {
    display: grid;
    grid-template-columns: repeat(3, 10vmin);
    grid-template-rows: repeat(3, 10vmin);
    grid-gap: 1vmin;
  }
  
  section.grid-container div {
    border-radius: 50%;
    border: 1px solid black;
  }

  #reset {
    margin: 20px auto;
    padding: 10px auto;
    border-radius: 5px;
    background: transparent;
    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }